* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

/* Animations */

@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-200vw);
		transform: translateX(-200vw);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slide-right {
	0% {
		-webkit-transform: translateX(-200vw);
		transform: translateX(-200vw);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.slide-left {
	animation: slide-right 1s;
}
.item-2 {
	animation-delay: 0.1s;
}
.item-3 {
	animation-delay: 0.15s;
}

@keyframes border-size {
	50% {
		-webkit-height: 3.6rem;
		-webkit-width: 3.6rem;
		height: 3.6rem;
		width: 3.6rem;
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(-200vh);
		transform: translateY(-200vh);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

/* Styles */

a {
	text-decoration: none;
	color: #fff;
}

svg {
	position: absolute;
}

.svg1 {
	top: -140px;
	right: -100px;
}

.svg2 {
	bottom: -145px;
	left: -100px;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;

	background: rgb(34, 26, 40);
	background: linear-gradient(
		332deg,
		rgba(34, 26, 40, 1) 0%,
		rgba(30, 26, 32, 1) 100%,
		rgba(34, 26, 40, 1) 100%
	);
	color: #fff;
	padding: 8vw;
}

header {
	display: flex;
	gap: 0.8rem;
	align-items: center;
	justify-content: flex-start;

	margin: 9vh 0 6vh 0;

	animation: slide-top 0.2s ease-in-out;
}

.profileImage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.3rem;
	height: 3.3rem;
	border-radius: 100%;
	border: 1px solid #6f5adc;

	animation: border-size 1s ease-in-out alternate;
	animation-delay: 0.8s;
}

.profileImage img {
	width: 3rem;
	height: 3rem;

	border-radius: 100%;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;

	overflow: hidden;
}
.profileInfo h1 {
	font-size: 1.1rem;
	font-weight: 500;
}

.profileInfo p {
	font-size: 0.8rem;
	font-weight: 300;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

main a {
	height: 2.5rem;
	background: #2b262e;
	border-radius: 4px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	padding: 0.8rem;
	font-size: 0.8rem;
}

main a i {
	font-size: 1rem;
}
footer {
	height: 8vh;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	font-size: 0.8rem;
	font-weight: lighter;

	position: absolute;
	bottom: 0vh;
	right: 0vw;
	padding: 20px 30px;
}
